body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#bloc_page {
  width: auto;
  margin: 4px;
}

/* Menu avec display flex*/
#entete,
#puce {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

li {
  list-style: none; /*suprime les puces rond */
}

#lienm,
#liena,
#liens {
  font-size: large;
  text-decoration-line: none;
  margin: 0 10px; /* test espacement entre les menus*/
}

#lienm:hover,
#lienm:hover,
#liena:hover,
#liens:hover {
  border-top: 2px solid rgb(143, 143, 143);
}

/*Traitement de l'espace du logo*/
#logo {
  margin-right: 50%;
}

/*Media queries pour les tablettes*/
@media all and (max-width: 1024px) {
  p {
    color: rgb(255, 0, 0);
    font-size: 0.9em;
  }
  #puce {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

/*Media queries pour les Mobiles ip 980px android 800px , ecrire @media all and (max-device-width: 980px) , 480px represente le peripherique mobile*/

@media all and (max-width: 580px) /* pour voir l'effet sur le pc on est obloger d'ecrire Max-width:580px */ {
  #entete {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
  }
  p {
    color: blue;
    font-size: 0.8em;
  }
  #puce {
    display: flex;
    margin: 0;
    flex-direction: column;
  }
  ul {
    padding: 0;
  }
  #logo {
    margin: 0;
  }
}

/*Bouton de Recherche*/
#recherches {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px rgb(190, 190, 190) solid;
  padding: 0;
  width: 350px;
  height: 30px;
  border-radius: 12px;
  background-color: ;
}
#gps {
  background-color: rgb(180, 180, 180);
  height: 13px;
  width: 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px;
}
#btn {
  background-color: rgb(4, 129, 247);
  font-size: 1.5em;
  height: 30px;
  width: 135px;
  color: white;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#recherche {
  padding: 0;
  border-width: 0px;
}
