body {
    margin: 0;
    font-family: "Raleway", sans-serif;
    color: rgb(0, 0, 0);
}

#bloc_page {
    width: 100%;
    margin: 0;
}

main {
    width: 95%;
    margin: auto;
}
/*Version Desktop*/

header {
    display: flex;
    justify-content: space-between;
}

h2 {
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

a {
    color: black;
}

a:hover {
    color: blue;
} /*Un peu de dynamise au lien*/

/*Traitement de l'espace du logo*/
#logo {
    justify-content: flex-start;
    flex: 1;
    padding-top: 50px;
    padding-left: 100px;
}
nav {
    justify-content: center;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

nav ul li {
    border-top: #ffffff 3px solid;
    padding-top: 45px;
    width: 165px;
    text-align: center;
    list-style: none; /*suprime les puces rond */
}
nav ul li:hover {
    border-top: #0065fc 3px solid;
}

.item_menu {
    color: #000000;
    font-size: large;
    text-decoration-line: none;
    cursor: pointer; /*jolie petit curceur*/
    /* test espacement entre les menus margin: 0 10px; pas necessaire */
}

.item_menu:hover {
    color: #0065fc;
}

#inscrire {
    justify-content: flex-end;
    padding-top: 50px;
    padding-right: 100px;
}
#inscrire a {
    color: #0065fc;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
}

/*Section0*/
.section0 {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    align-items: flex-start;
}
/*new diminution de l'espace */
#p1 {
    display: block;
    margin-block-start: 0px;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/*Bouton de Recherche*/
#bloc-recherches {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px #f2f2f2 solid;
    width: 365px;
    height: 50px;
    border-radius: 12px;
    font-family: Raleway, sans-serif;
}

.icon_map {
    width: 50px;
    height: 50px;
    border-radius: 12px 0 0 12px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -2px;
    font-size: 1.1em;
}

#recherche {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    border-width: 0;
    width: 200px;
    height: 50px;
}
.boutton-recherche {
    border: none;
    border-radius: 0 12px 12px 0;
    background-color: #0065fc;
    color: white;
    font-weight: 700;
    font-size: 16px;
    padding: 17px;
    cursor: pointer;
}

.boutton-recherche:hover {
    background-color: #003c96;
    transition: ease 0.3s;
}

#icon-glass {
    display: none;
}
/*Menu filtre avec les 4 gros boutons de Fitres*/
#bloc_filtre {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    gap: 20px;
}

#menu-filtre {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    font-weight: 550;
}

/*Les boutons des categories*/
a {
    text-decoration-line: none;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid #f2f2f2;
    border-radius: 35px;
    width: fit-content;
    gap: 10px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;
    border-radius: 35px;
    background-color: #c9defa;
    color: #0065fc;
}

.icon:hover {
    background-color: #57a0ff;
} /*effet bleuté sur l'icon filtre*/

.text {
    justify-content: flex-end;
    display: flex;
    align-items: center;
    color: black;
    font-weight: 700;
    padding-right: 10px;
}

#info {
    color: #0065fc;
}

/*Main*/
main {
    padding-left: 40px;
    padding-right: 40px;
}
/*Section 1 Centrale*/
section {
    display: flex;
    flex-direction: row;
    align-items: stretch; /*pour avoir la meme hauteur des 2 blocs*/
    width: 100%;
    background-color: #ffffff;
    gap: 30px;
}

.bloc-presentation,
.bloc-activite {
    width: 100%;
}

article {
    background-color: #f2f2f2;
    border-radius: 20px;
    text-align: left;
    padding: 20px;
    width: 75%;
}

.bloc-vigniette {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    padding: 0 0 0 0;
}

.vignietteM {
    background: white;
    list-style: none;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    border-radius: 20px;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 6px 0px white;
}

.vignietteM:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: ease 0.5s;
}

.box-imgM {
    display: flex;
    width: 100%;
    height: 50%;
    border-radius: 20px 20px 0 0;
}
.box-imgM img {
    width: 100%;
    height: 100%;
    max-height: 100px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
} /*permet de couvrir la totalité de l'espace en conservant les proportions*/

.vignietteM .hotel-info {
    padding: 5px;
    display: flex;
    width: 100%;
    height: 50%;
    flex-direction: column;
    gap: 10px;
}
.vignietteM .hotel-info h3 {
    display: flex;
    font-size: 1.17em;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.vignietteM .hotel-info p {
    display: flex;
    font-size: 1em;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: normal;
}
/*Div Etoiles*/
.etoile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px;
    color: #0065fc;
}

/*Aside les hotels populaires*/
aside {
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 20px;
    gap: 20px;
}

.aside-titre {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaire-bloc i {
    font-size: 25px;
}

.link-vignietteA {
    width: 100%;
    text-decoration: none;
}
.vignietteA {
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 6px 0px white;
    max-height: 120px;
}

.vignietteA:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: ease 0.5s;
} /*effet au survole*/

.aside-image-envelop {
    display: flex;
    align-items: center;
    width: 40%;
}
.aside-image-envelop img {
    display: flex;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px 0 0 20px;
} /*permet de couvrir la totalité de l'espace en conservant les proportions*/

.hotel-legende {
    width: 60%;
    height: 100%;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hotel-titre {
    padding: 4px 0;
    margin: 0;
}

.hotel-prix {
    margin-top: 0;
    margin-bottom: 0;
}

/*tarif des chambres*/
.prix {
    font-weight: bold;
}
/*etoiles */
.etoiles {
    color: #0065fc;
}

.hostingMainCardGradeIconEmpty {
    color: #b1b1b1;
}

/*lien general sur Afficher plus*/
.Afficheplus a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.afficheplus {
    padding: 0 20px;
}
/*Section 2 eme partie Les activites*/

#titreAM {
    text-align: left;
    padding-left: 50px;
}

.bloc-activite {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 30px;
    height: 500px;
}

.hotel-section2 {
    height: 100%;
    border-radius: 20px;
    border: 5px solid rgb(255, 255, 255);
    text-align: left;
    box-shadow: -1px 14px 12px -5px #f2f2f2;
    width: 25%;
    display: flex;
    flex-direction: column;
}

.hotel-section2 a {
    height: 100%;
    width: 100%;
}

.hotel-section2 > a > img {
    width: 100%;
    height: 85%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.hotel-section3 {
    display: flex;
    flex-direction: column;
    gap: 2%;
    height: 100%;
    text-align: left;
    box-shadow: -1px 14px 12px -5px #f3f3f3;
    width: 25%;
}

.superpose {
    width: 100%;
    height: 49%;
    border-radius: 20px;
    border: 5px solid rgb(255, 255, 255);
    text-align: left;
    box-shadow: -1px 14px 12px -5px #f3f3f3;
    display: flex;
    flex-direction: column;
}

.superpose a {
    color: #000000;
    width: 100%;
    height: 100%;
}
.superpose > a > img {
    width: 100%;
    height: 75%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

/*Footer*/
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 250px;
    width: 100%;
    background-color: #f2f2f2;
    padding: 0px;
    margin-top: 50px;
}
.liens {
    width: auto;
}
.liens a:hover {
    color: #0065fc;
}

.superpose a:hover {
    color: #0065fc;
}

/* ************************************************************************ */
/*Les Media Queries*/
@media screen and (max-width: 780px) {
    body {
        padding: 0;
        margin: 0;
    }

    main {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .hp:nth-child(1) {
        order: 1;
    }
    .hp:nth-child(2) {
        order: 3;
    }
    .hp:nth-child(3) {
        order: 2;
    }

    nav ul li:hover {
        border-bottom: #0065fc 3px solid;
        border-top: none;
    }

    #logo {
        padding-left: 20px;
        padding-bottom: 0;
        padding-top: 30px;
    }
    #inscrire {
        padding-left: 0;
    }
    h1 {
        padding-left: 10px;
    }
    #p1,
    #p2 {
        padding-left: 10px;
    }

    #bloc-recherches {
        margin: auto;
        width: auto;
    }
    #bloc-recherche {
        position: relative;
    }

    #boutton-recherche {
        display: none;
    }
    #icon-glass {
        display: block;
        right: -20px;
        border-radius: 0 12px 12px 0;
    }

    #filtres {
        display: flex;
        flex: 1;
        padding-right: 60%;
    }

    #bloc_filtre {
        flex-wrap: wrap;
        padding: 0 10px;
    }

    .bloc-presentation {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        width: 100%;
        gap: 30px;
    }

    article {
        border-radius: 0%;
        background-color: white;
    }

    article h2 {
        padding-left: 20px;
    }

    aside {
        background-color: #f2f2f2;
        border-radius: 0%;
        padding-bottom: 20px;
    }

    .aside-titre {
        justify-content: space-around;
    }

    article,
    aside {
        width: 100%;
        padding: 0;
        gap: 20px;
    }

    .vignietteA {
        width: 90%;
        max-height: 145px;
        margin: auto;
    }

    article,
    .bloc-vigniette {
        display: flex;
        flex-direction: column;
    }
    .vignietteM {
        width: 90%; /*taille des vigniette*/
        max-height: 250px;
        margin: auto; /*centrage des vigniette*/
    }

    .section0,
    .bloc-presentation {
        margin: 0;
        padding: 0;
    }

    .bloc-activite {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 100%;
        height: auto;
        margin: auto;
        padding: 0;
    }

    .hotel-section3 {
        width: 90%;
        gap: 30px;
        margin: auto;
        padding: 0;
    }

    .hotel-section2 {
        width: 90%;
        margin: auto;
        padding: 0;
    } /*espacement par rapport à la fenetre*/

    .superpose {
        width: 98%;
        padding: 0;
        margin: auto;
    }

    /*definir la hauteur des vigniette de Activite*/
    .hotel-section2 a img,
    .superpose a img {
        max-height: 200px;
    }
    #titreAM {
        padding-left: 20px;
    }
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 10px;
        margin: 0;
        padding: 0;
        width: 100%;
        margin-top: 20px;
    }
}
