body {
    margin: 0;
    font-family: "Raleway", sans-serif;
    color: rgb(0, 0, 0);
}

#bloc_page {
    width: 100%;
    margin: 0;
}

/*Version Desktop*/

header {
    display: flex;
    justify-content: space-between;
}

h2 {
    font-weight: bold;
}

a {
    color: black;
}

a:hover {
    color: blue;
} /*Un peu de dynamise au lien*/

/*Traitement de l'espace du logo*/
#logo {
    justify-content: flex-start;
    flex: 1;
    padding-top: 50px;
    padding-left: 100px;
}
nav {
    justify-content: center;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

nav ul li {
    border-top: #ffffff 3px solid;
    padding-top: 45px;
    width: 165px;
    text-align: center;
    list-style: none; /*suprime les puces rond */
}
nav ul li:hover {
    border-top: #0065fc 3px solid;
}

.item_menu {
    color: #000000;
    font-size: large;
    text-decoration-line: none;
    cursor: pointer; /*jolie petit curceur*/
    /* test espacement entre les menus margin: 0 10px; pas necessaire */
}

.item_menu:hover {
    color: #0065fc;
}

#inscrire {
    justify-content: flex-end;
    padding-top: 50px;
    padding-right: 100px;
}
#inscrire a {
    color: #0065fc;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
}

/*Section0*/
.section0 {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    align-items: flex-start;
}

/*Bouton de Recherche*/
#bloc-recherches {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px #f2f2f2 solid;
    width: 370px;
    height: 50px;
    border-radius: 12px;
    font-family: Raleway, sans-serif;
}

.icon_map {
    width: 50px;
    height: 50px;
    border-radius: 10px 0 0 10px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -2px;
    font-size: 1.1em;
}

#btn {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #0065fc;
    font-size: 1.1em;
    color: white;
    border: none;
    height: 50px;
}

#recherche {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    border-width: 0;
}

/*Menu filtre avec les 4 gros boutons de Fitres*/
#bloc_filtre {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    gap: 20px;
}

#menu-filtre {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    font-weight: 550;
}

/*Les boutons des categories*/
a {
    text-decoration-line: none;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid #f2f2f2;
    border-radius: 35px;
    width: fit-content;
    gap: 10px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;
    border-radius: 35px;
    background-color: #c9defa;
    color: #0065fc;
}

.text {
    justify-content: flex-end;
    display: flex;
    align-items: center;
    color: black;
    font-weight: 700;
    padding-right: 10px;
}

#info {
    color: #0065fc;
}

/*Main*/
main {
    padding-left: 40px;
    padding-right: 40px;
}
/*Section 1 Centrale*/
section {
    display: flex;
    flex-direction: row;
    align-items: stretch; /*pour avoir la meme hauteur des 2 blocs*/
    width: 100%;
    background-color: #ffffff;
    gap: 30px;
}

.bloc-presentation,
.bloc-activite {
    width: 100%;
}

article {
    background-color: #f2f2f2;
    border-radius: 20px;
    text-align: left;
    padding: 20px;
    width: 75%;
}

.bloc-vigniette {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    padding: 0 0 0 0;
}

.vignietteM {
    background: white;
    list-style: none;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    border-radius: 20px;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 6px 0px white;
}

.vignietteM:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: ease 0.5s;
}

.box-imgM {
    display: flex;
    width: 100%;
    height: 50%;
    border-radius: 20px 20px 0 0;
}
.box-imgM img {
    width: 100%;
    height: 100%;
    max-height: 100px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
} /*permet de couvrir la totalité de l'espace en conservant les proportions*/

.vignietteM .hotel-info {
    padding: 5px;
    display: flex;
    width: 100%;
    height: 50%;
    flex-direction: column;
    gap: 10px;
}
.vignietteM .hotel-info h3 {
    display: flex;
    font-size: 1.17em;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.vignietteM .hotel-info p {
    display: flex;
    font-size: 1em;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: normal;
}
/*Div Etoiles*/
.etoile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px;
    color: #0065fc;
}

/*Aside les hotels populaires*/
aside {
    width: 25%;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.aside-titre {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaire-bloc i {
    font-size: 25px;
}

.link-vignietteA {
    width: 100%;
    height: 140px;
    text-decoration: none;
}
.vignietteA {
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 6px 0px white;
}

.vignietteA:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: ease 0.5s;
} /*effet au survole*/

.aside-image-envelop {
    display: flex;
    align-items: center;
    width: 40%;
}
.aside-image-envelop img {
    display: flex;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px 0 0 15px;
} /*permet de couvrir la totalité de l'espace en conservant les proportions*/

.hotel-legende {
    width: 60%;
    height: 100%;
    border-radius: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hotel-titre {
    padding: 4px 0;
    margin: 0;
}

.hotel-prix {
    margin-top: 0;
    margin-bottom: 0;
}
/*vignette 1*/
.vignietteA#salonA1 {
    display: flex;
    margin: 0;
    background-color: white;
    border-radius: 20px;
    padding: 7px 0 7px 7px;
    box-shadow: 0px 0px 8px 0px rgb(150, 150, 150);
}
/*vignette 2*/
.vignietteA#salonA2 {
    display: flex;
    margin: 0;
    background-color: white;
    border-radius: 20px;
    padding: 5px 0 5px 6px;
    box-shadow: 0px 0px 8px 0px rgb(150, 150, 150);
}
/*vignette 3*/
.vignietteA#salonA3 {
    display: flex;
    margin: 0;
    background-color: white;
    border-radius: 20px;
    padding: 5px 0 5px 6px;
    box-shadow: 0px 0px 8px 0px rgb(150, 150, 150);
}
/*tarif des chambres*/
.prix {
    font-weight: bold;
}
/*etoiles */
.etoiles {
    color: #0065fc;
}

.hostingMainCardGradeIconEmpty {
    color: #b1b1b1;
}

/*lien general sur Afficher plus*/
.Afficherplus a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/*Section 2 eme partie Les activites*/

#titreAM {
    text-align: left;
    padding-left: 50px;
}

.bloc-activite {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 30px;
    height: 500px;
}

.hotel-section2 {
    height: 100%;
    border-radius: 20px;
    border: #f2f2f2 2px solid;
    text-align: left;
    box-shadow: -1px 14px 12px -5px #f2f2f2;
    width: 25%;
    display: flex;
    flex-direction: column;
}

.hotel-section2 a {
    height: 100%;
    width: 100%;
}

.hotel-section2 > a > img {
    width: 100%;
    height: 85%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.hotel-section3 {
    display: flex;
    flex-direction: column;
    gap: 2%;
    height: 100%;
    text-align: left;
    box-shadow: -1px 14px 12px -5px #f2f2f2;
    width: 25%;
}

.superpose {
    width: 100%;
    height: 49%;
    border-radius: 20px;
    border: #f2f2f2 2px solid;
    text-align: left;
    box-shadow: -1px 14px 12px -5px #f2f2f2;
    display: flex;
    flex-direction: column;
}

.superpose a {
    color: #000000;
    width: 100%;
    height: 100%;
}
.superpose > a > img {
    width: 100%;
    height: 75%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

/*Footer*/
footer {
    display: flex;
    flex-direction: row;
    gap: 250px;
    width: 100%;
    background-color: #f2f2f2;
    padding: 50px;
    margin-top: 20px;
}
.liens {
    width: auto;
}
.liens a:hover {
    color: #0065fc;
}


@media screen and (max-width: 780px) {
    body {padding: 0;
        margin: 0;
    }
    header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .hp:nth-child(1) {
        order: 1;
    }
    .hp:nth-child(2) {
        order: 3;
    }
    .hp:nth-child(3) {
        order: 2;
    }

    nav ul li:hover {
        border-bottom: #0065fc 3px solid;
        border-top: none;
    }

    #logo {
        padding-left: 20px;
        padding-bottom: 0;
        padding-top: 30px;
    }
    #inscrire {
        padding-left: 0;
    }

    /*Bloc recherches*/

    #bloc-recherches {
        margin: 0 auto;
    }

    #filtres {
        display: flex;
        flex: 1;
        padding-right: 60%;
    }

    #bloc_filtre {
        flex-wrap: wrap;
    }

    .bloc-presentation {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;         
            
}
article, aside{ width: 100%;
padding: 0;}

.section0, .bloc-presentation, .bloc-activite{
    margin: 0;
    padding: 0 ;}

footer{ margin-top: 20px;
    padding:0;
    gap: 20px;
    text-align: center;
}
}
/*Media queries pour les Mobiles 480px represente le peripherique mobile*/

@media screen and (max-width: 480px) {
    body {
        margin: auto;
    }
    header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .hp:nth-child(1) {
        order: 1;
    }
    .hp:nth-child(2) {
        order: 3;
    }
    .hp:nth-child(3) {
        order: 2;
    }

    nav ul li:hover {
        border-bottom: #0065fc 3px solid;
        border-top: none;
    }

    #logo {
        padding-left: 20px;
        padding-bottom: 0;
        padding-top: 30px;
    }
    #inscrire {
        padding-left: 0;
    }

    /*Bloc recherches*/

    #bloc-recherches {
        margin: 0 auto;
    }

    #filtres {
        display: flex;
        flex: 1;
        padding-right: 60%;
    }

    #bloc_filtre {
        flex-wrap: wrap;
    }
    .section0,
    .bloc-presentation,
    .bloc-activite {
        margin: auto;
        padding: 30px;
        width: 100%;
    }

    /*media queries de la Section 1 Hebergement à Marseille*/
    .bloc-presentation {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        border-radius: 0;
        width: 100%;
        gap: 0;
    }

    article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #ffffff;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .bloc-vigniette {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        /*margin: auto; /*centrer*/*/
        padding: 0;
    }

    .vignietteM {
        margin: 0 30px; /*permet de controler la taille des vignette*/
        box-shadow: 0px 0px 8px 0px rgb(150, 150, 150);
    }

    aside {
        display: flex;
        width: 100%;
        padding: 0px;
    }

    .populaire-bloc {
        border-radius: 0%;
        padding: 30px;
    }

    /*media queries  bloc activite*/

    .bloc-activite {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 0;
        margin: auto;
    }

    .hotel-section2,
    .hotel-section3 {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }

    /*Footer*/
    footer {
        flex-direction: column;
        gap: 40px;
        margin: 0;
        padding: 0 30px;
        width: 100%;
    }
}
